/// <reference types="next" />
/// <reference types="next/image-types/global" />

// NOTE: This file should not be edited
// see https://nextjs.org/docs/basic-features/typescript for more information.

declare namespace NodeJS {
    interface ProcessEnv {
      readonly NEXT_PUBLIC_APP_ID: string;
      readonly NEXT_PUBLIC_BUSINESS_USER_ID: string;
      readonly NEXT_PUBLIC_CUSTOMER_USER_ID: string;
    }
}